<div id="blog" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/blogs'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="blog-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="blog.images[0]" [src]="blog.images[0].url">
                    <img *ngIf="!blog.images[0]" [src]="'assets/images/ecommerce/blog-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{blog.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Blog
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Blog Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-blog-button"
                    [disabled]="blogForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addBlog()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-blog-button"
                    [disabled]="blogForm.invalid || blogForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveBlog()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="blogForm" [formGroup]="blogForm" class="blog w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Blog Title</mat-label>
                                    <input matInput placeholder="Blog Name"
                                           name="name"
                                           formControlName="title"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Blog Description</mat-label>
                                    <textarea matInput placeholder="Blog Description"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>


                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Blog Slug Url</mat-label>
                                    <input matInput placeholder="Slug url"
                                           name="slug_url"
                                           formControlName="slug_url"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Categories</mat-label>

                                    <mat-chip-list #categoryList name="categories" formControlName="categories">

                                        <mat-chip *ngFor="let categ of blog.category"
                                                  [removable]="true" (removed)="blog.removeCategory(categ)">
                                            {{categ}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="categoryList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="blog.addCategory($event)"/>

                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList name="tags" formControlName="tags">

                                        <mat-chip *ngFor="let tag of blog.tags"
                                                  [removable]="true" (removed)="blog.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="tagList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="blog.addTag($event)"/>

                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle>Is top
                                        <input type="checkbox" name="is_top"
                                               formControlName="is_top">
                                    </mat-button-toggle>
                                </mat-button-toggle-group>

                                <div class="tab-content p-24" fusePerfectScrollbar>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">

                                        <div class="blog-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media"
                                                 [src]="blog.image_url">
                                        </div>
                                    </div>
                                    <div>
                                        <input type="file" (change)="imageUpload($event)">
                                        <button mat-raised-button
                                                class="save-blog-button"><span>Upload image</span>
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab label="Main Content" *ngIf="pageType==='new'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-button-toggle-group value="primary"
                                                         aria-label="Change type">
                                    <mat-button-toggle (click)="changeType('text')"> Text</mat-button-toggle>
                                    <mat-button-toggle (click)="changeType('image')"> Image</mat-button-toggle>
                                    <mat-button-toggle (click)="changeType('text_and_image')"> Text and Image
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)="changeType('code')"> Code</mat-button-toggle>
                                </mat-button-toggle-group>
                                <div *ngIf="contentType === 1">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="addContent(htmlTextAreaElement.value)">
                                            <span>ADD</span>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="contentType === 2">
                                    <div class="col-md-6">
                                        <p>Your image will be uploaded automatically as soon as you choose the
                                            image!</p>
                                        <input type="file">

                                    </div>
                                    <div class="col-md-6">
                                        <p>Image preview</p>
                                    </div>
                                    <button mat-raised-button
                                            class="save-blog-button"
                                            (click)="addContent('')">
                                        <span>ADD</span>
                                    </button>
                                </div>
                                <div *ngIf="contentType === 3">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="addContent(htmlTextAreaElement.value)">
                                            <span>ADD</span>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="contentType === 4">
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline" floatLabel="always">
                                            <mat-label>Blog Description</mat-label>
                                            <textarea matInput placeholder="Blog Content"
                                                      rows="5" #htmlTextAreaElement>
                                    </textarea>
                                            <button mat-raised-button
                                                    class="save-blog-button"
                                                    (click)="addContent(htmlTextAreaElement.value)">
                                                <span>ADD</span>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                            <p>Your image will be uploaded automatically as soon as you choose the
                                                image!</p>
                                            <input type="file">

                                        </div>
                                        <div class="col-md-6">
                                            <p>Image preview</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </mat-tab>
                        <mat-tab label="Main Content" *ngIf="pageType==='edit'">
                            <div *ngFor="let cont of blog.content; let ind=index">
                                <div *ngIf="cont.type==='text'">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="editContent(htmlTextAreaElement.value, ind)">
                                            <span>Edit</span>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="cont.type==='image'">
                                    <input type="file" (change)="imageUploadEdit()">
                                </div>
                                <div *ngIf="cont.type==='text_and_image'">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="editContent(htmlTextAreaElement.value, ind)">
                                            <span>Edit</span>
                                        </button>
                                    </mat-form-field>
                                    <input type="file" (change)="imageUpload()">
                                </div>

                            </div>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-button-toggle-group value="primary"
                                                         aria-label="Change type">
                                    <mat-button-toggle (click)="changeType('text')"> Text</mat-button-toggle>
                                    <mat-button-toggle (click)="changeType('image')"> Image</mat-button-toggle>
                                    <mat-button-toggle (click)="changeType('text_and_image')"> Text and Image
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                                <div *ngIf="contentType === 1">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="addContent(htmlTextAreaElement.value)">
                                            <span>ADD</span>
                                        </button>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="contentType === 2">
                                    <input type="file" (change)="imageUpload()">
                                </div>
                                <div *ngIf="contentType === 3">
                                    <mat-form-field appearance="outline" floatLabel="always">
                                        <mat-label>Blog Description</mat-label>
                                        <textarea matInput placeholder="Blog Content"
                                                  rows="5" #htmlTextAreaElement>
                                    </textarea>
                                        <button mat-raised-button
                                                class="save-blog-button"
                                                (click)="addContent(htmlTextAreaElement.value)">
                                            <span>ADD</span>
                                        </button>
                                    </mat-form-field>
                                    <input type="file" (change)="imageUpload()">
                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab label="Preview" *ngFor="let content of blogForm.get('content').value">
                            <div class="preview-div">
                                <div class="preview-text" *ngIf="content.type==='text'">
                                    <div class="col-md-12">
                                        <p>{{content.text}}</p>
                                    </div>
                                </div>
                                <div class="preview-image" *ngIf="content.type==='image'">
                                    <div class="col-md-12">
                                        <img src="{{content.image_url}}" alt="">
                                    </div>
                                </div>
                                <div class="preview-code" *ngIf="content.type==='code'">
                                    <div class="col-md-12">
                                        <p>{{content.text}}</p>
                                    </div>
                                </div>
                                <div class="preview-text-image" *ngIf="content.type===4">
                                    <div class="col-md-4">
                                        <img src="{{content.image_url}}" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <p>{{content.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
