<div id="blog" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/blogs'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="blog-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="blog.images[0]" [src]="blog.images[0].url">
                    <img *ngIf="!blog.images[0]" [src]="'assets/images/ecommerce/blog-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{blog.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Blog
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Blog Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-blog-button"
                    [disabled]="blogForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addBlog()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-blog-button"
                    [disabled]="blogForm.invalid || blogForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveBlog()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="blogForm" [formGroup]="blogForm" class="blog w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Blog Title</mat-label>
                                    <input matInput placeholder="Blog Name"
                                           name="name"
                                           formControlName="title"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Blog Description</mat-label>
                                    <textarea matInput placeholder="Blog Description"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Categories</mat-label>

                                    <mat-chip-list #categoryList name="categories" formControlName="categories">

                                        <mat-chip *ngFor="let categ of blog.category"
                                                  [removable]="true" (removed)="blog.removeCategory(categ)">
                                            {{categ}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="categoryList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="blog.addCategory($event)"/>

                                    </mat-chip-list>

                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList name="tags" formControlName="tags">

                                        <mat-chip *ngFor="let tag of blog.tags"
                                                  [removable]="true" (removed)="blog.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="tagList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="blog.addTag($event)"/>

                                    </mat-chip-list>

                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Main Content">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="blog.images.length === 0"
                                         class="blog-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media"
                                             [src]="'assets/images/ecommerce/blog-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of blog.images">
                                        <div *ngIf="blog.images.length > 0"
                                             class="blog-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab>


                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
