.post-image img {
    height: 420px !important;
    width: 100% !important;
}

/* For width 400px and larger: */
@media only screen and (min-width: 300px) and (max-width: 700px) {
    .post-image img {
        height: 220px !important;
        width: 100% !important;
    }
}

.content-image {
    height: 320px !important;
    width: 100% !important;
}

/* For width 400px and larger: */
@media only screen and (min-width: 300px) and (max-width: 700px) {
    .content-image {
        height: 220px !important;
        width: 100% !important;
    }
}

.single-posts .down-content h1 {
    font-family: "Cormorant", Arial, Helvetica, serif;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 38px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 600;
    /*text-align: center;*/
    transition: all .3s;
}


blockquote p {
    color: green !important;
}
