@import "assets/css/connect.min.css";
@import "assets/css/admin4.css";
@import "assets/css/dark_theme.css";
@import "assets/css/custom.css";
@import "assets/plugins/bootstrap/css/bootstrap.min.css";
@import "assets/plugins/font-awesome/css/all.min.css";

.body {
  background: #DAE6F6 !important;
  color: #717BA2 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
