<div class="row">
  <div class="col-md-8 offset-md-1 mt-5 mb-5 p-5 d-flex shadow-boxed">
    <div class="col-md-6 login-image">
      <img src="../../../assets/img/login.jpg" alt="">
    </div>
    <div class="col-md-6">
      <div class="col-md-12 d-flex mt-3 mb-3 social-login">
        <span class="h3">Forgot Password</span>
      </div>
      <div class="col-md-12 text-center" *ngIf="!isMobileVerified">
        <form #form="ngForm" (ngSubmit)="verifymobile(form)">
          <div class="form-group text-left">
            <label for="exampleInputEmail1">Mobile No</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter Mobile" name="mobile" ngModel
                   pattern="/^-?\d+\.?\d*$/" onkeypress="if((this.value.length==10)) return false;"
                   oninput="validity.valid||(value='');"
                   required>
          </div>

          <div class="form-group">
            <small *ngIf="mobileCheckToken" style="color: red">Invalid mobile number !!</small>
          </div>
          <button type="submit" class="btn btn-uspl">Get OTP</button>
        </form>
      </div>
      <div class="col-md-12 mt-5 text-center" *ngIf="isMobileVerified &&  !isOtpVerified">
        <form #form="ngForm" (ngSubmit)="verifyotp(form)">
          <label>Enter OTP</label>
          <div class="row multiple-input">
            <input ngModel type="number" name="otp1" class="col-md-3 col-xs-3 inputs" pattern="/^-?\d+\.?\d*$/"
                   onKeyPress="if(this.value.length==1) return false;" placeholder="" required autocomplete="off"
                   style="color:#585858;" (keyup)="keytab($event)"/>
            <input ngModel type="number" name="otp2" class="col-md-3 col-xs-3 inputs" maxlength="1"
                   pattern="/^-?\d+\.?\d*$/"
                   onKeyPress="if(this.value.length==1) return false;" placeholder="" required autocomplete="off"
                   style="color: #585858;" (keyup)="keytab($event)"/>
            <input ngModel type="number" name="otp3" class="col-md-3 col-xs-3 inputs" maxlength="1"
                   pattern="/^-?\d+\.?\d*$/"
                   onKeyPress="if(this.value.length==1) return false;" placeholder="" required autocomplete="off"
                   style="color: #585858;" (keyup)="keytab($event)"/>
            <input ngModel type="number" name="otp4" class="col-md-3 col-xs-3 inputs" maxlength="1"
                   pattern="/^-?\d+\.?\d*$/"
                   onKeyPress="if(this.value.length==1) return false;" placeholder="" required autocomplete="off"
                   style="color: #585858;"/>
          </div>
          <div class="form-group">
            <small *ngIf="otpCheckToken" style="color: red">Invalid OTP !!</small>
          </div>
          <button type="submit" class="btn btn-uspl">Verify OTP</button>
        </form>
      </div>

      <div class="col-md-12 text-center" *ngIf="isOtpVerified">
        <form #form="ngForm" (ngSubmit)="changepassword(form)">

          <div class="form-group text-left">
            <label>New Password</label>
            <input type="password" class="form-control" name="password" ngModel #password
                   placeholder="Password" required>
          </div>

          <div class="form-group text-left">
            <label>Confirm Password</label>
            <!--            <input type="password" class="form-control" name="cnfpassword" ngModel #confirmPass="ngModel"-->
            <!--                   pattern="{{password.value}}"-->
            <!--                   placeholder="Confirm Password" required>-->

            <input type="password" ngModel name="confirmpassword" placeholder="Confirm Password" class="form-control"
                   required #confirmpassword="ngModel" pattern="{{ password.value }}"/>
          </div>
          <div class="form-group text-left">
            <small *ngIf="confirmpassword.errors.pattern" style="color: red">Passwords must match!</small>
          </div>
          <button type="submit" class="btn btn-uspl">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
