<div class="connect-container hi-class align-content-stretch d-flex flex-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="auth-form">
          <div class="row">
            <div class="col">
              <div class="logo-box"><a class="logo-text">Connect</a></div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="email" formControlName="email" class="form-control"
                         required placeholder="Enter email">
                  <span class="text-danger"
                        *ngIf="(loginFormControls.email.touched ) && loginFormControls.email.errors?.required">
                                Email is required
                            </span>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="password" class="form-control" required
                         placeholder="Password">
                  <span class="text-danger"
                        *ngIf="(loginFormControls.password.touched ) && loginFormControls.password.errors?.required">
                                Password is required
                            </span>
                </div>
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block btn-submit">Sign
                  In
                </button>
                <div class="auth-options">
                  <a routerLink="/register" class="forgot-link">Dont have an account?</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

