<div class="main-banner full-width-banner">
    <div class="container expanded">
        <div class="owl-big-banner owl-carousel" #carousel>
            <div class="item">
                <div class="overlay"></div>
                <img src="{{data.top_posts[0].image_url}}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>{{data.top_posts[0].category}}</span>
                        </div>
                        <a routerLink="/b/singleBlog/{{data.top_posts[0].slug_url}}">
                            <h4>{{data.top_posts[0].title| slice: 0:50 }}{{data.top_posts[0].title.length > 50 ? '...' : ''}}</h4>
                        </a>
                        <ul class="post-info">
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[0].slug_url}}">{{data.top_posts[0].createdAt|date}}</a>
                            </li>
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[0].slug_url}}">{{data.top_posts[0].no_of_views}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="overlay"></div>
                <img src="{{data.top_posts[1].image_url}}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>{{data.top_posts[1].category}}</span>
                        </div>
                        <a routerLink="/b/singleBlog/{{data.top_posts[1].slug_url}}">
                            <h4>{{data.top_posts[1].title|slice: 0:50}}{{data.top_posts[1].title.length > 50 ? '...' : ''}}</h4>
                        </a>
                        <ul class="post-info">
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[1].slug_url}}">{{data.top_posts[1].createdAt|date}}</a>
                            </li>
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[1].slug_url}}">{{data.top_posts[1].no_of_views}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="overlay"></div>
                <img src="{{data.top_posts[2].image_url}}" alt="">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <span>{{data.top_posts[2].category}}</span>
                        </div>
                        <a routerLink="/b/singleBlog/{{data.top_posts[2].slug_url}}">
                            <h4>{{data.top_posts[2].title|slice: 0:50}}{{data.top_posts[2].title.length > 50 ? '...' : ''}}</h4>
                        </a>
                        <ul class="post-info">
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[2].slug_url}}">{{data.top_posts[2].createdAt|date}}</a>
                            </li>
                            <li>
                                <a routerLink="/b/singleBlog/{{data.top_posts[2].slug_url}}">{{data.top_posts[2].no_of_views}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
