<div class="page-content">
  <div class="page-info">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Apps</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog Box</li>
      </ol>
    </nav>
    <div class="page-options">
      <a href="#" class="btn btn-primary" id="mail-compose">Compose</a>
    </div>
  </div>
  <div class="main-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="inbox-options">
              <div class="inbox-checkbox-all">
                <div class="custom-control custom-checkbox form-group">
                  <input type="checkbox" class="custom-control-input" id="check-all-mail">
                  <label class="custom-control-label" for="check-all-mail"></label>
                </div>
              </div>
              <div class="inbox-page-count">
                Showing 1-50 of 3089
              </div>
              <div class="inbox-search">
                <input type="text" class="form-control" id="searchInbox" placeholder="Search inbox">
              </div>
            </div>
            <ul class="inbox-list list-unstyled">
              <li>
                <a href="javascript: void(0);">
                  <div class="mail-checkbox">
                    <div class="custom-control custom-checkbox form-group">
                      <input type="checkbox" class="custom-control-input" id="mail1">
                      <label class="custom-control-label" for="mail1"></label>
                    </div>
                  </div>
                  <div class="mail-author">
                    <img src="../../../assets/images/avatars/profile-image.png"> <span>William Adams</span>
                  </div>
                  <div class="mail-title">
                    Nullam quis risus eget urna mollis ornare vel eu leo
                  </div>
                  <div class="mail-date">
                    2hrs
                  </div>
                  <div class="mail-star">
                    <i class="material-icons">star_border</i>
                  </div>
                </a>
              </li>
            </ul>
            <div class="inbox-pagination">
              <nav>
                <ul class="pagination">
                  <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
