<%- include('html_assets/head.ejs') %>
</head>
<body>

<!-- Navbar -->
<%- include('html_assets/navigation.ejs') %>

<!-- First Container -->


<!-- Second Container -->
<div class="container-fluid cover-container bg-2 text-center">
  <h3 class="margin">SHORT  QUIZ CONTEST</h3>
  <p>Subtitle of your contest </p>
  <div class="col-sm-2 container-fluid sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
   </div>
  <div class="col-sm-8 text-center">
  	<div class="col-sm-4">
  		<img src="./public/images/opnion.png" alt="Gift">
  	</div>
    <div class="col-sm-8 text-justify">
      <h1 class="text-center">Welcome</h1>
      <p>This is a short 3-question quiz contest template. Customize this template to suit your visual identity, content, and business needs. Write a good introduction to your quiz in this space. Make sure to clearly define what the prize is - preferably with an image. To add your image, simply replace the placeholder image to the left.</p>
      <div class="col text-center">
      	<button type="button" class="btn btn-info btn-lg text-center">Start Quiz</button>
      </div>
   </div>
  </div> 
   <div class="col-sm-2 container-fluid sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
</div>

<!-- Footer -->
<%- include('html_assets/end.ejs') %>
