<div class="standard-posts">

    <div class="row">
        <div class="col-lg-12" *ngFor="let post of posts.results|slice:0:pageLimit">
            <div class="standard-post">
                <div class="post-image">
                    <a routerLink="/b/singleBlog/{{post.slug_url}}"><img src="{{post.image_url}}"
                                                                         alt="Post image"></a>
                </div>
                <div class="down-content">
                    <div class="meta-category">
                        <span>{{post.category}}</span>
                    </div>
                    <a routerLink="/b/singleBlog/{{post.slug_url}}">
                        <h1>{{post.title}}</h1></a>
                    <!--                        <h4>Sartorial dreamcatcher food truck <em>cardigan bicycle</em></h4></a>-->
                    <ul class="post-info">
                        <li><a>{{post.createdAt|date}}</a></li>
                        <li><a>Admin</a></li>
                    </ul>
                    <p [innerHTML]="post.feature_content"></p>
                    <div class="row d-flex justify-content-center">
                        <!--                        <div class="col-lg-6 col-md-6">-->
                        <!--                            <div class="comments-info">-->
                        <!--                                <i class="fa fa-eye"></i>-->
                        <!--                                <span>{{post.no_of_views}}</span>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="col-lg-12 col-md-12 col-xs-12">-->
                        <ul class="share-post">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a>Facebook</a>,</li>
                            <li><a>Twitter</a>,</li>
                            <li><a>Pinterest</a></li>
                        </ul>
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 d-flex justify-content-center" *ngIf="posts._links">
            <ul class="pagination">
                <li *ngIf="posts._links.previous"><a (click)="paginateBackward()"><i class="fa fa-angle-left"></i></a>
                </li>
                <li class="active"><a>{{pageNumber}}</a></li>
                <li *ngIf="posts._links.next"><a (click)="paginateForward()"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div appLoadScript class="p-3"></div>
        </div>

    </div>
</div>
