.post-image img {
    height: 300px !important;
    width: 100% !important;
}


/* For width 400px and larger: */
@media only screen and (min-width: 300px) and (max-width: 700px){
    .post-image img {
        height: 220px !important;
        width: 100% !important;
    }
}

.standard-post .down-content h1 {
    font-family: "Cormorant", Arial, Helvetica, serif;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    transition: all .3s;
}
