<div class="container-fluid cover-container text-center">
  <h1 class="margin">About Us</h1>
  <div class="row ">
    <div class="col-sm-2" ></div>
    <div class="col-sm-8 text-justify">
        <p>We are a team of Engineering and Management professionals of more than 5 years of experience in the corporate world. Over the course of learning new technologies or understanding the concepts, we found a gap of a not clear explanation of problems one faces nor relating the theories with real-life examples. Thus, we came upon an idea of building a blog where we can explain concepts and issues in a more personalized manner, which can help us prepare for our future and others too.</p>

      <h2 class="text-center">Why <span class="text-success">Turtleopedia</span></h2>
      <p>We drive inspiration from the famous rabbit and tortoise race where the slow and steady wins the race, but the real essence of the winning was the tortoise being focused and equipped with all gears to fight through the challenge. Thus, we do not want our audience to be slow. We want our audience to be ready with all the knowledge under their arsenal (the shell) and fight their way to the challenges and understand things steadily so that it stays with them for the long run.</p>
    </div>
  </div>

  <h2 class="margin">Our <span class="text-success">Sections</span></h2>

  <div class="row big-2"> 
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header bg-success text-white"> Technology</div>
        <div class="card-body"><img src="assets/images/undraw_work_from_anywhere_7sdx.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="card-footer">Technology is advancing at a rapid pace. By the time a new device launches, there is already speculation about the next model. Everyone wants a piece of the action. We are here to make sure you get the right piece.</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card">
        <div class="card-header bg-success text-white">Entertainment</div>
        <div class="card-body"><img src="assets/images/undraw_happy_announcement_ac67.png" class="img-responsive" style="width:82%" alt="Image"></div>
        <div class="card-footer">What goes on once the cameras go off? We look at the escapades of celebrities off the big screen. Of course, we don't ignore what they do on screen either.It's our job to bring them to your notice! </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card">
        <div class="card-header bg-success text-white">Management</div>
        <div class="card-body"><img src="assets/images/undraw_certification_aif8.png" class="img-responsive" style="width:72%" alt="Image"></div>
        <div class="card-footer">we want to change the way you think about leadership. It is not about position. Leadership is everybody’s business. It is for men, women, and children. It is for families, business and communities. It is for you.</div>
      </div>
    </div>
  </div>

</div>
