<h1 class="cover-heading mb-3">Enter your Video link</h1>
<div class="inner">
    <p>You can enter the link of facebook or youtube video you want to download</p>
</div>
<p class="lead">
    <input type="text" id="link" class="my-input input-group mb-3">
    <button id="getLink" class="btn btn-lg btn-secondary">Get Link</button>
</p>
