<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="widget">
          <div class="footer-text text-center">
            <a href="index.html"><img src="assets/images/version/Turtelopedia-footer.png" alt="" class="img-fluid"></a>
            <p>Turtleopedia is blog for Technology, Management, Marketing and Fashion styles from
              independent creatives around the world.</p>
            <div class="social">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link color-green-hover" routerLinkActive="active" style="color: white!important;" routerLink="/blog/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link color-green-hover" routerLinkActive="active" style="color: white!important;" routerLink="/blog/about-us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link color-green-hover" routerLinkActive="active" style="color: white!important;"  routerLink="/blog/privacy-policy">Privacy Policy</a>
                </li>
              </ul>
            </div>
            <hr class="invis">

            <div class="newsletter-widget text-center">
              <form class="form-inline">
                <input type="text" class="form-control" placeholder="Enter your email address">
                <button type="submit" class="btn btn-primary">Subscribe <i class="fa fa-envelope-open-o"></i></button>
              </form>
            </div><!-- end newsletter -->
          </div><!-- end footer-text -->
        </div><!-- end widget -->
      </div><!-- end col -->
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <br>
        <div class="copyright text-white">&copy; Turtle apps private limited</div>
      </div>
    </div>
  </div><!-- end container -->
</footer><!-- end footer -->
