<section class="section first-section">
  <div class="container-fluid">
    <div class="masonry-blog clearfix" *ngIf="data.recent_posts.length>=3">
      <div class="left-side">
        <div class="masonry-box post-media">
          <img src="{{data.recent_posts[0].image_url}}" alt="" class="img-fluid">
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                                         title="">{{data.recent_posts[0].category}}</a></span>
                <h4><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[0].title}}</a></h4>
                <small><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                          title="">{{data.recent_posts[0].createdAt}}</a></small>
                <small><a title="">by Amanda</a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
        </div><!-- end post-media -->
      </div><!-- end left-side -->

      <div class="center-side">
        <div class="masonry-box post-media">
          <img src="{{data.recent_posts[1].image_url}}" alt="image not found" class="img-fluid">
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a routerLink="/blog/singleBlog/{{data.recent_posts[1].slug_url}}"
                                         title="">{{data.recent_posts[1].category}}</a></span>
                <h4><a routerLink="/blog/singleBlog/{{data.recent_posts[1].slug_url}}"
                       title="">{{data.recent_posts[1].title}}</a></h4>
                <small><a routerLink="/blog/singleBlog/{{data.recent_posts[1].slug_url}}"
                          title="">{{data.recent_posts[1].createdAt}}</a></small>
                <small><a title="">by Amada</a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
        </div><!-- end post-media -->
      </div><!-- end left-side -->

      <div class="right-side hidden-md-down">
        <div class="masonry-box post-media">
          <img src="{{data.recent_posts[2].image_url}}" alt="" class="img-fluid">
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a routerLink="/blog/singleBlog/{{data.recent_posts[2].slug_url}}"
                                         title="">{{data.recent_posts[2].category}}</a></span>
                <h4><a routerLink="/blog/singleBlog/{{data.recent_posts[2].slug_url}}"
                       title="">{{data.recent_posts[2].title}}</a>
                </h4>
                <small><a routerLink="/blog/singleBlog/{{data.recent_posts[2].slug_url}}"
                          title="">{{data.recent_posts[2].createdAt}}</a></small>
                <small><a title="">by Jessica</a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
        </div><!-- end post-media -->
      </div><!-- end right-side -->
    </div><!-- end masonry -->
  </div>
</section>
