<section class="section first-section">
  <div class="container">
    <div id="myCarousel" class="carousel slide carousel-multi-item" data-ride="carousel" >

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[0].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[0].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[0].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[1].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[1].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[1].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[2].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[2].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[2].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[3].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[3].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[3].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[4].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[4].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[4].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[5].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[5].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[5].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[6].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[6].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[6].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[7].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[7].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[7].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>

            <div class="col-md-4 ">
              <div class="card mb-2">
                <img class="card-img-top" src="assets/upload/garden_cat_03.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <span class="bg-aqua card-text">
                    <a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                       title="">{{data.recent_posts[8].category}}
                    </a>
                  </span>
                  <h4 class="card-title"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                         title="">{{data.recent_posts[8].title}}</a></h4>
                  <small class="card-text"><a routerLink="/blog/singleBlog/{{data.recent_posts[0].slug_url}}"
                            title="">{{data.recent_posts[8].createdAt}}</a></small>
                  <small class="card-text"><a title="">by Amanda</a></small>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Third slide-->
        <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      </div>
    </div>
  </div>
</section>
