<section class="section first-section">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" *ngIf="data.recent_posts.length>=3">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/upload/garden_cat_03.jpg" alt="los angles" class="img-fluid">
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a href="blog-category-01.html"
                                         title="">{{data.recent_posts[0].category}}</a></span>
                <h4><a href="garden-single.html" title="">{{data.recent_posts[0].title}}</a>
                </h4>
                <small><a href="garden-single.html" title="">{{data.recent_posts[0].createdAt}}</a></small>
                <small><a href="#" title="">by Jayant </a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
      </div>

      <div class="carousel-item">
        <img src="assets/upload/garden_cat_03.jpg" alt="los angles">
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a href="blog-category-01.html"
                                         title="">{{data.recent_posts[0].category}}</a></span>
                <h4><a href="garden-single.html" title="">{{data.recent_posts[0].title}}</a>
                </h4>
                <small><a href="garden-single.html" title="">{{data.recent_posts[0].createdAt}}</a></small>
                <small><a href="#" title="">by Jessica</a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
      </div>
    
      <div class="carousel-item">
        <img src="assets/upload/garden_cat_03.jpg" alt="los angles" class="img-fluid" >
          <div class="shadoweffect">
            <div class="shadow-desc">
              <div class="blog-meta">
                <span class="bg-aqua"><a href="blog-category-01.html"
                                         title="">{{data.recent_posts[0].category}}</a></span>
                <h4><a href="garden-single.html" title="">{{data.recent_posts[0].title}}</a>
                </h4>
                <small><a href="garden-single.html" title="">{{data.recent_posts[0].createdAt}}</a></small>
                <small><a href="#" title="">by Jessica</a></small>
              </div><!-- end meta -->
            </div><!-- end shadow-desc -->
          </div><!-- end shadow -->
      </div>
    </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</section>
