.img-fluid {
  width: 100% !important;
  height: 50vh;
}

.carousel-indicators li {
  background-color: cornflowerblue !important;
  width: 20px;
  height: 10px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: blue !important;
}

.card-img-top {
  height: 300px;
  width: 100%;
}

.card-body {
  width: 100%;
  height: 140px;
}

.bg-aqua {
  color: #ffffff !important;
  background-color: #74a044 !important;
  border-color: #74a044 !important;
}
