<div class="instagram-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="instagram-account">
                    <div class="widget-content">
                        <div class="widget-header">
                            <h4><a routerLink="/b/home">Turtleopedia</a></h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="instagram-item">
                                    <img src="https://placehold.it/255x220" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="instagram-item">
                                    <img src="https://placehold.it/255x220" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="instagram-item">
                                    <img src="https://placehold.it/255x220" alt="">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="instagram-item">
                                    <img src="https://placehold.it/255x220" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="footer-social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>Turtleopedia - All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
</footer>
