<div class="standard-posts">
    <div class="row">
        <div class="col-lg-12">
            <div class="standard-post big-post">
                <div class="post-image">
                    <a routerLink="/b/singleBlog/{{posts.results[0].slug_url}}"><img
                            src="{{posts.results[0].image_url}}"
                            alt=""></a>
                </div>
                <div class="down-content">
                    <div class="meta-category">
                        <span>{{posts.results[0].category}}</span>
                    </div>
                    <a routerLink="/b/singleBlog/{{posts.results[0].slug_url}}"><h4>{{posts.results[0].title}}</h4></a>
                    <ul class="post-info">
                        <li><a href="#">{{posts.results[0].createdAt|date}}</a></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                    <p [innerHTML]="posts.results[0].feature_content| slice: 0:250"></p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="comments-info">
                                <i class="fa fa-comment-o"></i>
                                <span>{{posts.results[0].no_of_views}}</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul class="share-post">
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><a href="#">Facebook</a>,</li>
                                <li><a href="#">Twitter</a>,</li>
                                <li><a href="#">Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" *ngFor="let post of posts.results | slice: 1 :7">
            <div class="standard-post recent-post">
                <div class="post-image">
                    <a routerLink="/b/singleBlog/{{post.slug_url}}"><img src="{{post.image_url}}" alt=""></a>
                </div>
                <div class="down-content">
                    <a routerLink="/b/singleBlog/{{post.slug_url}}">
                        <h4>{{post.title| slice: 0:50 }}{{post.title.length > 50 ? '...' : ''}}</h4>
                    </a>
                    <ul class="post-info">
                        <li><a href="#">{{post.createdAt|date}}</a></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                    <p [innerHTML]=" post.feature_content| slice: 0:150"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12" *ngIf="posts._links">
            <ul class="pagination">
                <li *ngIf="posts._links.previous"><a (click)="paginateBackward()"><i class="fa fa-angle-leftt"></i></a>
                </li>
                <li class="active"><a>{{pageNumber}}</a></li>
                <li *ngIf="posts._links.next"><a (click)="paginateForward()"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>
