<div class="container-fluid cover-container text-center">
  <h1 class="margin">Privacy Policy</h1>
  <div class="row ">
    <div class="col-sm-1" ></div>
    <div class="col-sm-10 text-justify">
        <p>
        	This privacy policy explains our policy regarding the collection, use, disclosure, and transfer of your information by Turtleopdia.com website (the “Service”)
			This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.
			We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.</p>
			<h5>Information Collection And Use</h5>
			<p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
			<h5>Cookie & Usage Data</h5>
			<p>We may collect information about how the Service is accessed and used (“Usage Data”). This Usage Data may include information such as your computer’s Internet Protocol address (e.g., IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
			Tracking & Cookies Data
			We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
			<p>Cookies are files with a small amount of data, which may include a unique anonymous identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
			You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
			<h5>There are different types of cookies:</h5>
			<p>
			•	Persistent cookies remain on a user’s device for a set period of time specified in the cookie. They are activated each time that the user visits the website that created that particular cookie.</p>
			<p>
			•	Session cookies are temporary. They allow website operators to link the actions of a user during a browser session. A browser session starts when a user opens the browser window and finishes when they close the browser window. Once you close the browser, all session cookies are deleted.</p>
			<p>
			•	Performance cookies collect data for statistical purposes on how visitors use a website; they don’t contain personal information such as names and email addresses and are used to improve your user experience of a website.</p>
			<p>
			•	Advertising cookies – Third-party vendors, including Google, use cookies to serve ads based on a user’s previous visits to your website or other websites. Google’s use of advertising cookies enables it and its partners to serve ads to your users based on their visit to your sites and/or other sites on the Internet. Users may opt-out of personalized advertising by visiting Ads Settings.</p>
			<h5>
			How do I control my cookies?</h5>
			<p>
			You should be aware that any preferences will be lost if you delete all cookies, and many websites will not work properly, or you will lose some functionality. We do not recommend turning cookies off when using our website for these reasons.</p>
			<p>
			Most browsers accept cookies automatically, but you can alter the settings of your browser to erase cookies or prevent automatic acceptance if you prefer. Generally, you have the option to see what cookies you’ve got and delete them individually, block third-party cookies or cookies from particular sites, accept all cookies, to be notified when a cookie is issued or reject all cookies. Visit the ‘options’ or ‘preferences’ menu on your browser to change settings, and check the following links for more browser-specific information.</p>
			<p>•	Cookie settings in Internet Explorer</p>
			<p>•	Cookie settings in Firefox</p>
			<p>•	Cookie settings in Google Chrome</p>
			<p>•	Cookie settings in Apple Safari</p>
			<p>
			It is possible to opt-out of having your anonymized browsing activity within websites recorded by performance cookies.</p>
			<p>
			Google Analytics — https://tools.google.com/dlpage/gaoptout
			We have also set out links below to Google AdSense who set cookies on our websites, and therefore on your computer, with instructions on how to opt-out of their cookies.
			Google AdSense — https://adssettings.google.com/authenticated</p>
			<h5>Use of Data</h5>
			<p>Digital Inspiration uses the collected data for various purposes:</p>
			<p>•	To provide and maintain the Service</p>
			<p>•	To provide analysis or valuable information so that we can improve the Service</p>
			<p>•	To monitor the usage of the Service</p>
			<p>•	To detect, prevent and address technical issues</p>

			<h5>Transfer Of Data</h5>
			<p>
			Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
			<p>
			If you are located outside the USA and choose to provide information to us, please note that we transfer the data, including Personal Data, to the USA and process it there.
			Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
			<p>
			Digital Inspiration will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>
			<h5> Disclosure Of Data </h5>
			<p>Legal Requirements</p>
			<p>Digital Inspiration may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
			<p>•	To comply with a legal obligation</p>
			<p>•	To protect and defend the rights or property of Digital Inspiration</p>
			<p>•	To prevent or investigate possible wrongdoing in connection with the Service</p>
			<p>•	To protect the personal safety of users of the Service or the public</p>
			<p>•	To protect against legal liability</p>
			<h5>Security Of Data</h5>
			<p>
			The security of your data is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
			Service Providers
			We may employ third party companies and individuals to facilitate our Service (“Service Providers”), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
			These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
			Analytics
			We may use third-party Service Providers to monitor and analyze the use of our Service.
			Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network. You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>
			<p>
			For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page here.</p>
			<h5>
			Links To Other Sites</h5>
			<p>
			Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
			We have no control over and assume no responsibility for the content, privacy policies, or practices of any third party sites or services.
			Changes To This Privacy Policy
			We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
			We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the “effective date” at the top of this Privacy Policy.
			You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    </div>
  </div>
</div>
